.descriptif-parcours {
  height: 250px;
  text-align: justify;
}

.box-photo {
 border-width:1px;
 border-style:solid;
 border-color:black;
 width:50%;
}

.description {
// overflow:hidden;
// height: 200px;

}
