<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/lewagonfrance"><i class="fab fa-facebook"></i></a>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
  </div>
  <div class="footer-copyright">
    Bienvenue à <i class="far fa-copyright"></i>UrbanTraining
  </div>
  <ul> <a href="pages/about"><%= link_to "Qui sommes-nous?", "/about" %></a></ul>
</div>





