
<div class="container" style="height: 80vh">
  <div class = "first-part" style ="text-align: center">
        <h2>Qui sommes-nous?</h2>
        <h4>Quatre passionnés par le code et aussi par le sport, nous avons relevé le défit de créer cette web application en deux semaines. Nous avons essayé de répondre aux besoins des personnes souhaitant visiter autrement notre belle ville Marseille. Et bien sûr,nous espérons élargir notre offre dans l'avenir.  N'hésitez pas à nous contacter pour toute information ou suggestion.</h4>
        <img src="https://avatars1.githubusercontent.com/u/32795248?v=4" style="height: 100px; width: 100px; border-radius: 50%;" alt="..." class="img-thumbnail">
        <img src="https://avatars3.githubusercontent.com/u/37438761?s=400&v=4" style="height: 100px; width: 100px; border-radius: 50%;" alt="..." class="img-thumbnail">
        <img src="https://avatars1.githubusercontent.com/u/37373685?s=400&v=4" style="height: 100px; width: 100px; border-radius: 50%;" alt="..." class="img-thumbnail">
        <img src="https://avatars1.githubusercontent.com/u/36983352?s=400&v=4" style="height: 100px; width: 100px; border-radius: 50%;" alt="..." class="img-thumbnail">
      </div>
<div class = "row" style="text-align: center">
<h2> Comment nous contacter ? </h2>

<h4> Pour une question concernant d'éventuel financement, veuillez contacter notre DAF : <b> petersampras@gmail.com </b></h4>
<br>

<h4>
Pour toute proposition de partenariat, veuillez contacter Peter Crouch : <b>petercrouch@gmail.com </b></h4>
<br>

<h4>
Pour toute autre question veuillez contacter notre meilleur joueur @ : <b> guillaumedauplat@gmail.com</b></h4>
<br>

</div>
</div>




