<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), /*url('https://kitt.lewagon.com/placeholder/cities/berlin')*/;">
  <div class="banner-content">
    <h3>Qui sommes-nous?</h3>
    <p>Quatre passionnés par le code et aussi par le sport, nous avons relevé le défit de créer cette web application en deux semaines. Nous avons essayé de répondre aux besoins des personnes souhaitant visiter autrement notre belle ville Marseille. Et bien sûr,nous espérons élargir notre offre dans l'avenir.  N'hésitez pas à nous contacter pour toute information ou suggestion.</p>
  <img src="https://avatars1.githubusercontent.com/u/32795248?v=4" style="height: 100px; width: 100px; border-radius: 50%;" alt="..." class="img-thumbnail">
  <img src="https://avatars3.githubusercontent.com/u/37438761?s=400&v=4" style="height: 100px; width: 100px; border-radius: 50%;" alt="..." class="img-thumbnail">
  <img src="https://avatars1.githubusercontent.com/u/37373685?s=400&v=4" style="height: 100px; width: 100px; border-radius: 50%;" alt="..." class="img-thumbnail">
  <img src="https://avatars1.githubusercontent.com/u/36983352?s=400&v=4" style="height: 100px; width: 100px; border-radius: 50%;" alt="..." class="img-thumbnail">
  </div>
</div>





