<p ><b> Numero du Step : <%= step.step_num %> </b> </p>
<p> Medias associé(s) </p>
<br>
  <iframe
            width="200"
            height="100"
            class="embed-responsive-item"
            src="<%= step.medias.video.first.url %>"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen>

  </iframe>

<img src="<%= step.medias.photo.last.url%>" width="200", height="100">
