<div class="banner banner-image fullscreen">
  <h1>DECOUVREZ LA VILLE AUTREMENT</h1>

  <%= link_to "Vivez l'expérience", filter_path, class: "btn btn-lg btn-success" %>

  <p>ou choisissez nos parcours ci-dessous:</p>
</div>

<div class="row">
  <%= render 'shared/cards' %>
</div>

