  <div class="banner">
    <h1>DECOUVREZ LA VILLE AUTREMENT</h1>
      <button type="button" class="btn btn-lg btn-success">Vivez l'expérience</button>
      <p>ou choisissez nos parcours ci-dessous:</p>
  </div>
