.banner {
  height: calc(100vh - 70px);
  padding-top: 20px;
  text-align: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.banner-image {
  background-image: image-url("urban.jpg");
}

.banner p {
  font-weight: bold;
  color: $white;
  margin-top: 200px;
  font-size: 25px;
}

.btn-success {
  margin-top: 130px;
}

.banner h1 {
  font-weight: bold;
}

.banner a{
  color: $gray;
}

.btn-info{
margin-top: 130px;

}

