#carousel-example-generic h2 {
  text-align: center;
  margin-bottom: 50px;
}

#carousel-example-generic h4 {
  text-align: center;
  margin-bottom: 125px;
}

#carousel-example-generic {
height: 800px;
}

.card:hover {
  box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
  background:white;
  z-index: 2;
  transition: all 0.2s ease-in;
  transform: scale(1.05);
}

.chicken_runner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.5);
}


