.footer {
  background: #423D30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $green;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $green;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.40;
}
.footer .fa-copyright {
  color: $green;
  text-align: right;
}

.footer-ul {
 color: $green;

}
